.login-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f0f8ff;
}

.header {
  background-color: #0078d7;
  color: white;
  text-align: center;
  padding: 15px 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.footer1 {
  background-color: #5151c2;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 45.0%;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.login-box {
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.login-title {
  font-size: 1.8rem;
  margin-bottom: 20px;
  text-align: center;
  color: #4caf50;
}

.login-form .form-group {
  margin-bottom: 15px;
}

.login-form label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.login-form input {
  width: 70%;
  padding: 10px;
  border: 0px solid #ccc;
  border-radius: 5px;
}

.login-button {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.login-button:hover {
  background-color: #45a049;
}
